.hide {
    table-layout: fixed;
    visibility: hidden;
    height: 0px;
    width: 0px;
    line-height: 0px;
    font-size: 0px;
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-spacing: 0px;
    border: 0px solid;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    -icab-border-radius: 0px;
    -o-border-radius: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    min-height: 0px;
    max-height: 0px;
    display: none;
}

.hide thead {
    border: 0px solid black;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    display: none;
}

.hide tbody {
    border: 0px solid black;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    display: none;
}

.hide tr {
    border: 0px solid black;
    height: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    display: none;
}

.hide th {
    font-size: 0;
    border: 0px solid black;
    height: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    display: none;
}

.hide td {
    font-size: 0;
    border: 0px solid black;
    height: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    display: none;
}

.hide_vertical {
    visibility: hidden;
    width: 0;
    height: 24px;
    padding-left: 0px;
    padding-right: 0px;
    border-left: 0px;
    border-right: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.img_hor {
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.container {
    background-image: linear-gradient(180deg, #00a2a3, #00a2a3);
    background-repeat: no-repeat;
    /* top-left top-right bottom-right bottom-left */
    border-radius: 15px 15px 15px 15px;
    border: 5px solid;
    border-color: #035d61
}

.hide_vertical {
    visibility: hidden;
    width: 0;
    height: 24px;
    padding-left: 0px;
    padding-right: 0px;
    border-left: 0px;
    border-right: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.hide_image {
    opacity: 0;
}

.show_image {
    opacity: 1;
}
